<footer class="footer-adsl">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div style="margin-top: 5vh;">
            <i class="fa fa-map-marker"></i>
            <p>ADSL Assistance Dépannage Labo<br/>183/189 avenue de Choisy<br/>75013 Paris</p>
          </div>
        </div>
        <div class="col-lg-6">
          <iframe
            width="230"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjxiunP24NnW1pleSRw5P1kBb45V-qwDM
    &q=A.D.S.L.+Assistance+D%C3%A9pannage+Service+Labo" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <i class="fa fa-mobile" aria-hidden="true"></i> Mobile : +33 (0) 611 837 523<br/>
      <i class="fa fa-phone" aria-hidden="true"></i> Phone : +33 (0) 954 208 760<br/>
      <i class="fa fa-fax" aria-hidden="true"></i> Fax : +33 (0) 139 468 760<br/>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> Mail : infos@adsl-lesite.com
    </div>
    <div class="col-lg-3 text-right">About us.<br/>Worldwide company.<br/>Copyright 2018 by Kalyter.</div>
  </div>
</footer>
