<app-bar-menu></app-bar-menu>
<br/>
<h1>Catégories</h1><br/><br/>
<a routerLink="add" class="btn btn-primary">Ajouter Catégorie</a><br/><br/>

<div class="card">
  <div class="card-header bg-info text-white">
    Catégories
  </div>
  <div class="card-body">

    <ng-container *ngFor="let mc of menu;">

      <span *ngIf="thereIsUnder(mc._id, categories)" class="ml-2">Menu : {{ mc.title }}</span>
    <ul class="list-group"  dnd-sortable-container [sortableData]="categories">
      <ng-container *ngFor="let c of categories; let i=index">
      <li *ngIf="c.menu_id==mc._id;" class="list-group-item" [dragData]="categories"
          dnd-sortable [sortableIndex]="i" (onDropSuccess)="orderCategories(i, $event)" >
        <small>Position : <b>{{c.order}}</b></small> -
        <small>Nom de la catégorie : </small><b>{{c.title}}</b>
        <span *ngIf="c.under_menu" class="ml-2 text-success"> <b>Sous-menu</b></span>

        <a mwlConfirmationPopover
           [popoverTitle]="popoverTitle"
           [popoverMessage]="popoverMessage"
           placement="left"
           (confirm)="deleteCategorie(c._id)"
           (cancel)="cancelClicked = true" class="btn btn-danger text-white float-right ml-3">Delete</a>
        <a [routerLink]="['edit', c._id]" class="btn btn-info text-white float-right"> Edit</a><br/>
      </li>
      </ng-container>
    </ul>

    </ng-container>

  </div>
</div>
<div>

<!--
  <ul *ngFor="let mc of menu;">
    <span *ngIf="thereIsUnder(mc._id, categories)">  {{ mc.title }} </span>
    <ng-template ngFor let-item [ngForOf]="categories";>

      <div *ngIf="item.menu_id==mc._id;">
        <div class="title"> location  {{ item.menu_id }} </div>
        <div class="container"> {{ item.title}}</div>
      </div>
    </ng-template>
  </ul>
-->


</div>
<div class="view-side-form">

  <router-outlet></router-outlet>

</div>
