<header>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/admin/home/">Home</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/admin/menu/">Menu</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/admin/brand/">Marques</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/admin/categories/">Catégories</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/admin/articles/">Articles</a></li>
    <li class="nav-item"><a class="nav-link" (click)="authService.logout()">Déconnexion</a></li>
  </ul>
</header>
