<div class="marketing">
  <div class="row row-eq-height">

    <ng-container *ngFor="let b of brand;  let i=index">
      <ng-container *ngIf="i<config.show_brands">

        <div class="col-lg-3 mt-4">
          <div class="marque" [style.background-image]="'url(assets/img/brand/' + b.img + ')'"></div>
          <div>
            <h1 style="font-size: 2rem;">{{b.title}}</h1>
            <p>{{b.description}}</p>
          </div>
          <div style="height: 50px;">
            <a class="btn btn-secondary stick-bottom" [routerLink]="['/articles', 'brand', b._id]" role="button">View details »</a>
          </div>
        </div>

      </ng-container>
    </ng-container>


  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{ main.title_m[0] }} </h2>
      <h6><span class="lead">{{ main.content_m[0] }}</span></h6>
    </div>
    <div class="col-md-5" [style.background-image]="'url(assets/img/brand/' + main.img_1 + ')'"
         style="width:500px;height:500px;background-size: cover;background-position: 60% 50%">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{ main.title_m[1] }}</h2>
      <h6><span class="lead">{{ main.content_m[1] }}</span></h6>
    </div>
    <div class="col-md-5" [style.background-image]="'url(assets/img/brand/' + main.img_2 + ')'"
         style="500px;height:500px;background-size: cover;background-position: 60% 50%">

    </div>
  </div>

</div>
