<app-bar-menu></app-bar-menu>
<br/>
<h1>Articles</h1><br/><br/>
<a routerLink="add" class="btn btn-primary">Ajouter un article</a>
<br/><br/>

<div class="card">
  <div class="card-header bg-info text-white">
    Articles
  </div>
  <div class="card-body">

    <ng-container *ngFor="let c of categories;">

      <table *ngIf="thereIsUnder(c._id, articles)" class="table table-striped">
        <thead>
        <tr>
          <th width="30%"class="text-center">Categorie : {{ c.title }}</th>
          <th width="20%">Title</th>
          <th width="30%">Brand</th>
          <th width="20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let a of articles; let i=index">
        <tr *ngIf="a.cat_id==c._id">
          <td colspan="2">{{a.title}}</td>
          <ng-container *ngFor="let b of brands">
          <td *ngIf="a.brand_id==b._id">{{b.title}}</td>
          </ng-container>
          <td>            <a mwlConfirmationPopover
                             [popoverTitle]="popoverTitle"
                             [popoverMessage]="popoverMessage"
                             placement="left"
                             (confirm)="deleteArticle(a._id)"
                             (cancel)="cancelClicked = true" class="btn btn-danger btn-sm text-white float-right ml-3">Delete</a>
            <a [routerLink]="['edit', a._id]" class="btn btn-info btn-sm text-white float-right"> Edit</a></td>
        </tr>
        </ng-container>
        </tbody>
      </table>

    </ng-container>

  </div>
</div>
<div>



</div>
<div class="view-side-form">

  <router-outlet></router-outlet>

</div>
