@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.site-header {
  background-color: rgba(11, 83, 156, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #87868e;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.white {
  color: white;
}

.content-base {
  min-height: 100vh;
  background-color: white;
  background: #fff;
  padding: 4em 2em 2em;
  margin: 0em 0em 2em;
  position: relative;
}

html {
  height: 100.1%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(45deg, rgba(245, 245, 245, 0.65), rgba(245, 245, 245, 0.65) 3px, rgba(173, 173, 173, 0.15) 3px, rgba(167, 167, 167, 0.15) 8px);
}

.paddingzero {
  padding: 0;
}

.box-content{
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}

.ombre {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.display-4 {
  font-size: 4.5rem;
}

.leadat {
  font-size: 2.5rem;
}

.marque {
  height: 150px;
  padding-top: 6px;
  padding-bottom: 4px;
  text-align: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 576px) {
  .marque {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (min-width: 768px) {
  .marque {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (min-width: 992px) {
  .marque {
    padding-left: 12%;
    padding-right: 12%;
  }
}
@media screen and (min-width: 1200px) {
  .marque {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.navbar-toggler{
  background: rgba(9, 50, 93, 0.74);
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.nav-link:hover{
  color:#6c757d;
}


.dropdown-m {
  position: relative;
  display: inline-block;
  color: white;
}

.dropdown-m:hover {
  color:#6c757d;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #3c69ff
}

.dropdown-m:hover .dropdown-content {
  display: block;
}



.topban {
  height: 100%;
  background-image: url('assets/img/site/logo2.png');
  background-repeat: no-repeat;
  background-position: 10% 60%;
  background-size: 460px;
  opacity: 0.8;
  max-width: 100%;
}

.topban:hover {
  opacity: 1;
}
.containerb {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .containerb {
    max-width: 540px;
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.08); }

@media (min-width: 768px) {
  .containerb {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerb {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .containerb {
    max-width: 1440px;
  }
}

.title-lab{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.side-form {
  position: absolute;
  z-index: 100;
  top: 300px;
  right: 0;
  width: 80%;
  height: 80%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

}
.stick-bottom {
  position: absolute;
  bottom: 0px;
}

.list-group-item{
  white-space: nowrap;
  line-height: 3em;
}

@media (min-width: 576px) {
  .central-form {
    max-width: 780px;
    margin: 1.75rem auto;
    margin-top: 30rem;
  }
}

@media (min-width: 992px) {
  .central-form {
    max-width: 1050px;
    margin: 1.75rem auto;
    margin-top: 30rem;
  }
}
@media (min-width: 576px) {
  .central-form-article  {
    max-width: 960px;
    margin: 1.75rem auto;
    margin-top: 30rem;
  }
}

@media (min-width: 992px) {
  .central-form-article  {
    max-width: 1250px;
    margin: 1.75rem auto;
    margin-top: 30rem;
  }
}
.titleinput {
  min-width: 60%!important;
  max-width: 80%!important;
  display: inline-block!important;
  border: 1px solid #bdbdbd!important;
  height: 1rem !important;
}
.central-form {
  position: relative;
  z-index: 100;
  width: auto;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}

.central-form-article {
  position: relative;
  z-index: 100;
  height: 80%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
  top: -20rem;
}
.filemanager{
  display: block;
  width: 60%;
  top: 15rem;
  left: 5rem;
  z-index: 999;
  height: 436px;
  padding: 0;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #444444;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 65px -19px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.filemanager2{
  display: block;
  width: 40%;
  top: 20rem;
  left: 25rem;
  z-index: 999;
  height: 400px;
  padding: 0;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #444444;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 65px -19px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.workzone{
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 402px;
}
.workzone-left{
  display: block;
  width: 221px;
  height: 372px;
  padding: 10px;
  background: #e7ebf0;
  float: left;
  border-right: 1px solid #d3d3d3;
}

.workzone-right{
  overflow: auto;
  position: relative;
  height: 370px;
  margin: 0;
  padding: 10px;
}
.dropzone-upload{
  width: 85%;
  height: 80%;
  margin-left: auto;
  background: rgba(0,0,0,0.025);
  border-style: dashed;
  border-width: 1px;
  border-radius: 3px;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
}
.dropzone-upload:hover{
  border: 5px dashed rgba(171, 203, 255, 0.63);
}
.topbar{
  border: 1px solid #dddddd;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgb(195, 195, 195) 62px, #EDEDED, #EDEDED 23px);
  color: #444444;
  font-weight: bold;
  height: 62px;
  width: 100%;
  border-bottom: 1px solid #656565;
}
.topbar2{
  border: 1px solid #dddddd;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgb(195, 195, 195) 24px, #EDEDED, #EDEDED 23px);
  color: #444444;
  font-weight: bold;
  height: 24px;
  width: 100%;
  border-bottom: 1px solid #656565;
}
.topbar-title{
  position: relative;
  z-index: 2;
  color: #71808f;
  font-size: 13px;
  line-height: 21px;
  text-decoration: none;
  text-shadow: 0 1px 1px #e7e7e7;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;

}
.workzone-title{
  color: #8da1b9;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 26px;
  line-height: 2.0rem;
}
.caretdown{
  color: #adb1b9;
}
.thumb{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  background-color: #fff;
  height: 120px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.thumb:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.multiple-zone{
  height: 200px;
  width: 100%;
  cursor: pointer;
  overflow: auto;
  align-items: center;
  text-align: center;
}

.button-upload{
  position: absolute;
  background: -webkit-linear-gradient(#ebebeb, #bebebe 25px, #EDEDED, #EDEDED 23px);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-weight: 300;
  color: #4c4c4c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
  width: 85px;
  margin: 28px 5px 3px 11px;
  padding: 1px 0px 1px 0px;
  line-height: 1.5rem;
  text-align: center;
  border: 1px solid #848484;
}
nav.control-window {
  position:absolute;
  left:5px;
  top:3px;
  z-index:10;
  height:19px;
}
nav.control-window a {
  display: inline-block;
  margin: 2px 0px 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  text-indent: -9999px;
  position: relative;
}
nav.control-window a:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
nav.control-window a:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}
nav.control-window a.closed {
  background: #FD4E4E;
}
nav.control-window:hover a.closed {
  background: #FD4E4E 1px 1px no-repeat;
}
nav.control-window a.closed:active {
  background: #c72f2b 1px 1px no-repeat;
}
nav.control-window a.minimize {
  background: #F3BB55;
}
nav.control-window:hover a.minimize {
  background: #F3BB55 -9px 1px no-repeat;
}
nav.control-window a.minimize:active {
  background: #c7862c -9px 1px no-repeat;
}
nav.control-window a.maximize {
  background: #96D16F;
}
nav.control-window:hover a.maximize {
  background: #96D16F -19px 1px no-repeat;
}
nav.control-window a.maximize:active {
  background: #4a8e33 -19px 1px no-repeat;
}
nav.control-window a.deactivate {
  background: #b5b5b5;
}

.search-file {
  position: absolute;
  right: 0;
  margin-right: 15px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#fbfbfb, #f2f2f2 22px, #EDEDED, #EDEDED 28px);
  border: 1px #929292 solid;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

.search-file::placeholder {
  color: #989898;
  text-align: center;
}
#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
#list{
  overflow: auto;
  height: 200px;
  padding: 10px;
}
.thumb-2{
  float: left;
  line-height: 0rem;
  height: 150px;
  font-size: 12px;
}
